.dashboard-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #f0f0f0;
  padding: 10px;
  position: fixed;
  height: 100%;
}

.content {
  flex: 1;
  padding: 10px;
  margin-left: 220px;
}

.items{
  margin-top: 20px;
}