<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <!-- Logo a la izquierda -->
      <app-logo-card></app-logo-card>

      <!-- Elementos de la derecha -->
      <div class="justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <img src="https://ui-avatars.com/api/{{username}}" class="rounded-circle mx-2 mb-1" style="width: 34px;"
              alt="Avatar">
            </a>
            <mat-menu #menu="matMenu">
              <button mat-menu-item [routerLink]="['profile']" routerLinkActive="router-link-active">
                <mat-icon>person</mat-icon>
                <span>Profile</span>
              </button>
              <button mat-menu-item [routerLink]="['initial']" routerLinkActive="router-link-active">
                <mat-icon>restaurant</mat-icon>
                <span>Food</span>
                </button>
                @if(isAdmin()){
                    <button mat-menu-item [routerLink]="['/admin']">
                     <mat-icon> admin_panel_settings</mat-icon>
                     <span>Admin</span>
                   </button>
                }
              <button mat-menu-item [routerLink]="['historial']">
                <mat-icon>shopping_basket</mat-icon>
                <span>Historial</span>
              </button>
              <button mat-menu-item [routerLink]="['/']" (click)="singOut()" routerLinkActive="router-link-active">
                <mat-icon>logout</mat-icon>
                <span>Log out</span>
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
    </div>
  </nav>

