.body{
  color: var(--c);
  font-family: sans-serif;
  min-height: 100svh;
  height: 100%;
  background: radial-gradient(#ffffff54 2px, transparent 0) 0 0/40px 40px, radial-gradient(#00000026 2px, transparent 0) -1px 1px/40px 40px, radial-gradient(ellipse at 150% -50%, #6d788f, #fff);
}
