<div class="chef">
    <div class="card-container">
    @for (order of orders; track $index) {
    <div class="card">
        
        <div class="card-header"  [class.past-time]="isPastTime(order.slot?.time)">
                <span class="header-item"><i class="fas fa-utensils" style="margin-right: 10px;"></i>ID: {{ order.orderId }}</span>
                <span class="header-item"> <i class="fas fa-clock"></i> {{ order.slot?.time }}</span>
        </div>
        <div class="card-content">
            <ul class="dish-list">
                @for (dish of order.dishes; track $index) {
                    <li class="dish">{{ dish.name }}</li>}
            </ul>
        </div>
        <div class="delete-button" (click)="deleteOrder(order.orderId)"(click)="copyToClipboard(order.orderId)"><i class="fas fa-check"></i></div>
    </div>}
    <div class="else">
    
    </div>
</div>

<footer>
    <div class="pagination">
        <button class="btn" (click)="previousPage()">Anterior</button>
        <button class="btn" (click)="nextPage()">Siguiente</button>
        <span>{{ currentPage }} / {{ totalPages }}</span>
    </div>
    <div class="current-time">
        <p>{{ currentTime }}</p>
    </div>
    <div class="actions">
        <button class="btn" (click)="reloadPage()">
        <i class="fa fa-refresh"></i> Recargar
        </button>
        <button class="btn" (click)="closePage()">
        <i class="fa fa-times"></i>
        </button>
    </div>
</footer>
</div>