.image-container {
    position: relative;
    overflow: hidden;
}

.dish-image {
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease-out;
}

.dish-image {
    transition: transform 0.3s; 
}

.dish-image.enlarged {
    transform: scale(1.2);
  }

.image-container {
    border-radius: 10px;
    margin: 2px;
}

.buttonnav{
    margin-left: 30px;
}
.mdc-data-table__table{
    min-width: 70%;
    width: 80px;
    max-width: 80px;
}

mat-paginator{
    min-width: 70%;
    width: 80px;
    max-width: 80px;
}
.dish-dasboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.dish-dasboard h2 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
mat-header-cell{
    font-weight: bold;
}


.mat-column-id {
    width: 80px;
    max-width: 80px;
    min-width: 80px;
    justify-content: center;
}
.mat-column-price {
    width: 80px;
    max-width: 80px;
    min-width: 80px;
    justify-content: center;
}
.mat-column-image {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    justify-content: center;
}
.mat-column-visible,
.mat-column-category
 {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    justify-content: center;
}

.mat-column-actions {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
    justify-content: center;
}
.enlarged {
    transform: scale(1.5);
    transition: transform 0.3s ease-out;
}

.attribute-list {
    display: flex;
    flex-direction: column;
    align-items: left;  
    text-align: left;   
}

