<div>
  <h2>Dishes List
      <button class="btn btn-secondary" (click)="prevPage()">Previous Page</button>
      {{currentPage}} / {{totalPages}}
      <button class="btn btn-secondary" (click)="nextPage()">Next Page</button>ㅤ
      <button class="btn btn-primary" (click)="addDish()">Add Dish</button>
  </h2>
  <table class="table">
      <thead>
          <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Description</th>
              <th>Image</th>
              <th>Price</th>
              <th>Category</th>
              <th>Attributes</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          @for (dish of getDisplayedDishes(); track $index) {
          <tr>
              <td>{{ dish.id }}</td>
              <td>{{ dish.name }}</td>
              <td>{{ dish.description }}</td>
              <td>
                  <div class="image-container">
                      <img class="dish-image" src="{{dish.image}}" alt="{{ dish.name }}">
                  </div>
              </td>
              <td>{{ dish.price }}</td>
              <td>{{ dish.category }}</td>
              <td>
                  <ul>
                      @for (attribute of dish.attributes; track $index) {
                      <li>{{ attribute }}</li>}
                  </ul>
              </td>
              <td>
                  <button class="btn btn-info btn-sm ml-2" (click)="editDish(dish)">Edit</button>
                  <button class="btn btn-danger btn-sm" (click)="deleteDish(dish.id)">Delete</button>
              </td>
          </tr>}
      </tbody>
  </table>
  <div>
      <button class="btn btn-primary" (click)="addDish()">Add Dish</button>
  </div>
</div>
