.image-container {
    position: relative;
    overflow: hidden;
}

.dish-image {
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease-out;
}

.image-container:hover .dish-image {
    transform: scale(1.2);
}

.button {
    margin-right: 8px;
}

.mdc-data-table__table{
    max-width: 99% !important;
    min-width: 99% !important;
    margin-bottom: 50px;
}

.buttonnav{
    margin-left: 30px;
}