
<div>
    <div class="row">
      <div class="col">   
        <h2 class="mt-3">Menu List<button class="buttonnav" mat-raised-button color="primary"   (click)="addMenu()"><mat-icon class="mx-2" aria-hidden="false"  fontIcon="add"></mat-icon></button></h2>
      </div>
      <div class="col">
        <mat-paginator
        [pageSize]="itemsPerPage"
        [pageIndex]="currentPage - 1"
        [length]="menusService.getTotalMenus()"
        [pageSizeOptions]="[5,8, 10]"
        (page)="onChange($event)">
      </mat-paginator>
      </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <label for="categoryAppetizer">Appetizer ID:</label>
      <input type="number" id="categoryAppetizer" [(ngModel)]="newMenuIds.categoryAppetizer" />
    </div>
    <div class="col">
      <label for="categoryFirst">First ID:</label>
      <input type="number" id="categoryFirst" [(ngModel)]="newMenuIds.categoryFirst" />
    </div>
    <div class="col">
      <label for="categorySecond">Second ID:</label>
      <input type="number" id="categorySecond" [(ngModel)]="newMenuIds.categorySecond" />
    </div>
    <div class="col">
      <label for="categoryDessert">Dessert ID:</label>
      <input type="number" id="categoryDessert" [(ngModel)]="newMenuIds.categoryDessert" />
    </div>
  </div>

  <div class="col">
    <label for="categoryAppetizer">Appetizer:</label>
    <select id="categoryAppetizer" [(ngModel)]="newMenu.categoryAppetizer">
      @for (dish of appetizers$ | async; track $index) {
      <option [value]="dish">
        {{ dish.name }}
      </option>}
    </select>
    <label for="categoryAppetizer">First:</label>
    <select id="categoryAppetizer" [(ngModel)]="newMenu.categoryFirst">
      @for (dish of firstDishes$ | async; track $index) {
      <option [value]="dish">
        {{ dish.name }}
      </option>}
    </select>
    <label for="categoryAppetizer">Second:</label>
    <select id="categoryAppetizer" [(ngModel)]="newMenu.categorySecond">
      @for (dish of secondDishes$ | async; track $index) {
      <option [value]="dish">
        {{ dish.name }}
      </option>}
    </select>
    <label for="categoryAppetizer">Dessert:</label>
    <select id="categoryAppetizer" [(ngModel)]="newMenu.categoryDessert">
      @for (dish of dessertDishes$ | async; track $index) {
      <option [value]="dish">
        {{ dish.name }}
      </option>}
    </select>
  </div>
  
  <mat-table [dataSource]="menus" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let menu">{{ menu.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dishes">
      <mat-header-cell *matHeaderCellDef>Dishes</mat-header-cell>
      <mat-cell *matCellDef="let menu">
        <ul>
          <li>{{ menu.categoryAppetizer.name  }} | Appetizer</li>
          <li>{{ menu.categoryFirst.name  }} | First</li>
          <li>{{ menu.categorySecond.name  }} | Second</li>
          <li>{{ menu.categoryDessert.name }} | Dessert</li>
        </ul>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="visible">
      <mat-header-cell *matHeaderCellDef>Visible</mat-header-cell>
      <mat-cell *matCellDef="let menu">{{ menu.visible ? 'Yes' : 'No' }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let menu">
        <button class="button" mat-mini-fab color="primary"  (click)="editMenu(menu)"><mat-icon class="mx-2" aria-hidden="false"  fontIcon="edit"></mat-icon></button>
        <button class="button" mat-mini-fab color="warn"  (click)="deleteMenu(menu.id)"><mat-icon class="mx-2" aria-hidden="false"  fontIcon="delete"></mat-icon></button>
        <button class="button" mat-mini-fab color="primary"  (click)="toggleVisibility(menu)">
          <mat-icon class="mx-2" aria-hidden="false"  fontIcon="{{ menu.visible ? 'visibility_off' : 'visibility' }}"></mat-icon></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
