<div class="dish-dasboard">
  <h2 class="mt-5">Menu List</h2>
  <form (ngSubmit)="addMenu()" #menuForm="ngForm" class="custom-form">
    <div class="custom-col">
      <label class="form-label">Appetizer</label>
      <select id="categoryAppetizer" name="categoryAppetizer" required [(ngModel)]="newMenuApi.appetizer" class="form-select">
        @for (dish of dishesAppetizer; track $index) {
          <option [ngValue]="dish">{{dish.name}}</option>
        }
      </select>
    </div>
    <div class="custom-col">
      <label class="form-label">First</label>
      <select id="categoryFirst" name="categoryFirst" required [(ngModel)]="newMenuApi.first" class="form-select">
        @for (dish of dishesFirst; track $index) {
          <option [ngValue]="dish">{{dish.name}}</option>
        }
      </select>
    </div>
    <div class="custom-col">
      <label class="form-label">Second</label>
      <select id="categorySecond" name="categorySecond" required [(ngModel)]="newMenuApi.second" class="form-select">
        @for (dish of dishesSecond; track $index) {
          <option [ngValue]="dish">{{dish.name}}</option>
        }
      </select>
    </div>
    <div class="custom-col">
      <label class="form-label">Dessert</label>
      <select id="categoryDessert" name="categoryDessert" required [(ngModel)]="newMenuApi.dessert" class="form-select">
        @for (dish of dishesDessert; track $index) {
          <option [ngValue]="dish">{{dish.name}}</option>
        }
      </select>
    </div>
    <div class="customm-col">
      <button class="buttonnav" mat-raised-button color="primary">Add</button>
    </div>
  </form>
  
  
  
  <mat-paginator
  [pageSize]="selectedPageSize"
  [pageIndex]="currentPage - 1"
  [length]="totalEntities"
  [pageSizeOptions]="[2, 5, 10]"
  aria-label="Select page"
  (page)="onChange($event)">
</mat-paginator>
  <mat-table [dataSource]="menusApi" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let menu">{{ menu.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="appetizer">
      <mat-header-cell *matHeaderCellDef>Appetizer</mat-header-cell>
      <mat-cell *matCellDef="let menu">{{ menu.appetizer.name }}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="first">
      <mat-header-cell *matHeaderCellDef>First</mat-header-cell>
      <mat-cell *matCellDef="let menu">{{ menu.first.name }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="second">
      <mat-header-cell *matHeaderCellDef>Second</mat-header-cell>
      <mat-cell *matCellDef="let menu">{{ menu.second.name }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="dessert">
      <mat-header-cell *matHeaderCellDef>Dessert</mat-header-cell>
      <mat-cell *matCellDef="let menu">{{ menu.dessert.name }}</mat-cell>
    </ng-container>

    
    <ng-container matColumnDef="visible">
      <mat-header-cell *matHeaderCellDef>Visible</mat-header-cell>
      <mat-cell *matCellDef="let menu">
        <button mat-icon-button (click)="toggleVisibility(menu)">
          <mat-icon>{{ menu.visible  ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
      </mat-cell>

    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let menu">
        <button mat-icon-button color="warn"  (click)="deleteMenu(menu.id)"><mat-icon aria-hidden="false"  fontIcon="delete"></mat-icon></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  

