<main>
  <div class="container">
    <br>
   <h1 class="text-center mt-2">Your shopping history</h1>
    <div class="col card mx-auto mt p-3">

      <table matSort (matSortChange)="sortData($event)">
        <tr class="text-center">
          <th mat-sort-header="id">ID</th>
          <th mat-sort-header="date">Date</th>
          <th mat-sort-header="slot">Pick up time</th>
          <th mat-sort-header="price">Price</th>
        </tr>

        @for ( h of historial; track h.id) {
          <tr class="text-center">
            <td>{{h.id}}</td>
            <td>{{h.actualDate |  date }}</td>
            <td>{{h.slot?.time}}</td>
            <td>{{h.totalPrice / 2| currency:'EUR'}}</td>
          </tr>
        }
      </table>

  </div>
    </div>
</main>

