<main class="body"><br>

  <div class="container card marketing p-4"><br>

    <h2 class="text-center text-primary"><b> TODAY'S MENU </b></h2>
    <div class="row">

      <!-- /.col-lg-3 -->
      <div class="col-lg-3 menu">
        <img  mat-card-md-image src="{{menus.appetizer.image}}" class="menu-img img-fluid rounded-circle shadow  mb-2" alt="{{menus.appetizer.name}}">
        <h2 class="">{{menus.appetizer.name}}</h2>
        <p>{{menus.appetizer.description}}</p>
        <p>{{menus.first.category}}</p>
      </div>

      <!-- /.col-lg-3 -->
      <div class="col-lg-3 menu">
        <img mat-card-md-image src="{{menus.first.image}}" class="menu-img img-fluid rounded-circle shadow mb-2" alt="{{menus.first.name}}">
        <h2>{{menus.first.name}}</h2>
        <p>{{menus.first.description}}</p>
        <p>{{menus.first.category}}</p>
      </div>

      <!-- /.col-lg-3 -->
      <div class="col-lg-3 menu">
        <img mat-card-md-image src="{{menus.second.image}}" class="menu-img img-fluid rounded-circle shadow  mb-2"alt="{{menus.second.name}}">
        <h2>{{menus.second.name}}</h2>
        <p>{{menus.second.description}}</p>
        <p>{{menus.second.category}}</p>
      </div>

      <!-- /.col-lg-3 -->
      <div class="col-lg-3 menu">
        <img mat-card-md-image src="{{menus.dessert.image}}" class="menu-img img-fluid rounded-circle shadow  mb-2" alt="{{menus.dessert.name}}">
        <h2>{{menus.dessert.name}}</h2>
        <p>{{menus.dessert.description}}</p>
        <p>{{menus.dessert.category}}</p>
      </div>


    </div>
    <!-- /.row -->
    <div class="row">
      <button mat-raised-button color="primary mx-auto w-50" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"  (click)="addMenu(menus)"><b>REQUEST MENU</b></button>
    </div>

    <hr class="featurette-divider">

    <!-- bar of ships and filters -->

      <div class="navbar row bg-light">
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 mt-3 ">
          <button mat-raised-button color="accent mx-1" (click)="allDishes()">All</button>
          <button mat-button [matMenuTriggerFor]="menu" color="accent mx-1" >Specials for....</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="fliterForAtrttibute('VEGAN')">Vegan</button>
            <button mat-menu-item (click)="fliterForAtrttibute('VEGETARIAN')">Vegeterian</button>
            <button mat-menu-item (click)="fliterForAtrttibute('CELIAC')">Suitable for celiacs</button>
            <button mat-menu-item (click)="fliterForAtrttibute('LACTOSE')">Without lactose</button>
            <button mat-menu-item (click)="fliterForAtrttibute('NUTS')">Sin Frutos Secos</button>
          </mat-menu>

        </div>
          <!-- /.col-lg-8 -->
        <div class="col-lg-8 text-end mt-2">

          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle (click)="fliterForApptizer()" value="bold">Appetizer</mat-button-toggle >
            <mat-button-toggle (click)="fliterForFirsts()" value="italic">Firts</mat-button-toggle>
            <mat-button-toggle (click)="fliterForSeconds()" value="underline">Seconds</mat-button-toggle>
            <mat-button-toggle (click)="fliterForDesserts()" value="underline">Desserts</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>

    <!-- /.row -->

      @if(listDishes.length != 0){

       <div class="row mt-4">

         <!-- dish cards -->
      @for(dish of listDishes; track $index){
        <div class="col-lg-3 mt-3">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>{{dish.name}}</mat-card-title>
                <mat-card-subtitle>{{dish.price | currency:'EUR' }}</mat-card-subtitle>
                <img mat-card-md-image src="{{dish.image}}}" alt="Image of a Shiba Inu" class="img-fluid rounded-circle">
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content class="mt-2">
              {{dish.description}}
              <div class="row mt-2">
                <div class="col-4 text-start">
                  {{dish.attributes}}
                </div>
                <div class="col-4 text-center">
                  {{dish.category | uppercase }}
                </div>
                <div class="col-4 text-end">
                  <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon"
                    (click)="addCard(dish)" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
                    aria-controls="offcanvasScrolling"> <mat-icon class="mx-2" aria-hidden="false"
                      fontIcon="shopping_cart"></mat-icon></button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        }
      </div>
      }
      @else {
        <div class="row mt-4">
          <div class="col-lg-12 mt-2">
            <h2 class="text-center text-primary"><b>NO DISHES AVAILABLE</b></h2>
          </div>
        </div>
      }



    <!-- order bar -->
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
      id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Yuor Order</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
    <div class="offcanvas-body">

        <p class="text-center fs-4 mb-4 text-primary">{{totalPrice | currency:'EUR' }}</p>
        <ol class="list-group">

          @for (item of listDishesOrder; track $index) {
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{item.name}}</div>
               {{item.price | currency:'EUR' }}
                <span class=""></span>
              </div>
              <span>
                <button mat-icon-button color="accent text-end" aria-label="Example icon button with a plus one icon"
                (click)="removeCard($index)"> <mat-icon aria-hidden="false"
                  fontIcon="remove_shopping_cart"></mat-icon></button>
              </span>
          </li>
          }
        </ol>
        <div class="row mt-4">
        <div class="col-6">
            <button mat-raised-button color="primary mx-auto w-100" (click)="aceptarOrden()"><b>Confirm</b></button>
        </div>
        <div class="col-6">
            <button mat-raised-button color="warn mx-auto w-100" (click)="cancelPedido()"><b>Cancel</b></button>
        </div>
      </div>
     </div>
  </div>

  </div>
</main>

