<div class="container marketing mt-4">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-3 menu">
      <svg class="bd-placeholder-img rounded-circle mb-2" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Aperitivo</title>
        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      </svg>

      <h2 class="">Aperitivo</h2>
      <p>Some representative placeholder content for the three columns of text below the carousel. This is the first
        column.</p>

    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3 menu">
      <svg class="bd-placeholder-img rounded-circle mb-2" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Aperitivo</title>
        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      </svg>

      <h2>Primer Plato</h2>
      <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>

    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3 menu">
      <svg class="bd-placeholder-img rounded-circle mb-2" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Segundo Plato</title>
        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      </svg>

      <h2>Segundo Plato</h2>
      <p>And lastly this, the third column of representative placeholder content.</p>

    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3 menu">
      <svg class="bd-placeholder-img rounded-circle mb-2" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Postre</title>
        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      </svg>

      <h2>Postre</h2>
      <p>Some representative placeholder content for the three columns of text below the carousel. This is the first
        column.</p>

    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
  <div class="row">
      <button mat-raised-button color="primary mx-auto w-50"><b>Tu menú por solo 8.90€</b></button>
  </div>


  <hr class="featurette-divider">

    <mat-toolbar>
      <div class="row">
        <div class="col-10">
          <span>Total: 8,90€</span>
        </div>
        <div class="col-2">

          <button mat-raised-button color="accent mx-1" (click)="fliterForApptizer()">Aperitivos</button>
          <button mat-raised-button color="accent mx-" (click)="fliterForFirsts()">Primeros</button>
          <button mat-raised-button color="accent mx-1" (click)="fliterForSeconds()">Segundos</button>
          <button mat-raised-button color="accent mx-1"(click)="fliterForDesserts()">Postres</button>

          <button mat-button [matMenuTriggerFor]="menu">Especiales para...</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Veganos</button>
            <button mat-menu-item>Vegetearianos</button>
            <button mat-menu-item>Apto para celiacos</button>
            <button mat-menu-item>Sin Lactosa</button>
            <button mat-menu-item>Sin Frutos Secos</button>
          </mat-menu>

        </div>

      </div>
      <!-- dimamco -->

    </mat-toolbar>
    <div class="row">
@for(dish of listDishes; track $index){
      <div class="col-lg-3">

        <mat-card class="example-card mt-3">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{dish.name}}</mat-card-title>
              <mat-card-subtitle>{{dish.price}}</mat-card-subtitle>
              <img mat-card-md-image src="{{dish.image}}}"
                alt="Image of a Shiba Inu">
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content class="mt-2">
            {{dish.description}}
            <div class="row mt-2">

              <div class="col-4 text-start">
                {{dish.attributes}}
              </div>
              <div class="col-4 text-center">
                {{dish.category | uppercase }}
              </div>
              <div class="col-4 text-end">
                <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon" > <mat-icon class="mx-2" aria-hidden="false"  fontIcon="shopping_cart"></mat-icon></button>
              </div>
            </div>

          </mat-card-content>
        </mat-card>

      </div>
    }

    </div>


