<div class="body">
  <main class="container">
    <div class="card mx-auto col-md-3 px-4 pt-4 pb-2 mt-5">
      <div class="col-12 mx-auto mb-3">
        <app-logo></app-logo>
      </div>

      @if(slotAvaible.length > 0){
        <p>Select the slot time slot</p>

        <select id="slot" class="form-select" aria-label="Default select example" [(ngModel)]="selectedSlotId">
        @for(slot of slotAvaible ; track $index){
          <option value={{slot.id}}>{{slot.time}}</option>

        }
        </select>
        <button mat-raised-button (click)="prossesOrder()" color="primary mx-auto mt-4">Process order</button>

        <span class="mt-3 text-center text-secondary mt-5">Unclaimed orders beyond the pickup deadline will be donated to local community kitchens</span>
        <small class="mt-5 mb-0 ">Committed to:</small>
        <img src="../../../../assets/img/2030-logo.png" alt="">
        <p class="text-success text-center mb-0"><b>ZERO</b> CARBON FOOTPRINT </p>
      }
      @else{
        <p class="text-center">No orders available</p>
      }

  </div>
  </main>
</div>

