<div>
    <h2>User List
        <button class="btn btn-secondary" (click)="prevPage()">Previous Page</button>
        {{currentPage}} / {{totalPages}}
        <button class="btn btn-secondary" (click)="nextPage()">Next Page</button>ㅤ
    </h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (user of users; track $index) {
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <button class="btn btn-info btn-sm ml-2" (click)="updateRole(user.id)">Update Role</button> |
                    <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)">Delete</button>
                </td>
            </tr>}
        </tbody>
    </table>
</div>
