
.mdc-data-table__table{
    min-width: 70%;
    width: 80px;
    max-width: 80px;
}

.mat-column-id {
    width: 80px;
    max-width: 80px;
    min-width: 80px;
    justify-content: center;
}
.mat-column-role {
    width: 80px;
    max-width: 80px;
    min-width: 80px;
    justify-content: center;
}
.mat-column-actions {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
    justify-content: center;
}

mat-paginator{
    min-width: 70%;
    width: 80px;
    max-width: 80px;
}
.user-dasboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.user-dasboard h2 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
mat-header-cell{
    font-weight: bold;
}
.copied-snackbar {
    background-color: #4CAF50;
    color: white;
  }
