<div class="container-fluid mt-5 text-center">
    <img src="assets/img/logo_team_dark.png" alt="3elements" style="max-height: 300px; max-width: 300px;" class="mx-auto d-block">
    <div class="d-flex flex-row flex-wrap justify-content-around">
    
    <div class="card mb-4 text-center">
        <img src="assets/img/david.png" class="card-img-top rounded-circle mx-auto" alt="David's Photo" style="max-height: 190px; max-width: 190px;">
        <div class="card-body">
        <h5 class="card-title">David Maza Borjabad</h5>
        <p class="card-text">I'm a Commercial Diver and Full Stack Developer passionate about the world of computing and especially programming.
            That has led me to create my own computer solutions for the diving sector, developing projects in this environment.
            From that dream, DiveCode was born, the platform that unites these two exciting worlds.</p>
        <a href="https://www.linkedin.com/in/davidmaza76/" class="btn btn-primary" target="_blank">LinkedIn</a>
        </div>
    </div>

    <div class="card mb-4 text-center">
        <img src="assets/img/manel.png" class="card-img-top rounded-circle mx-auto" alt="Manel's Photo" style="max-height: 190px; max-width: 190px;">
        <div class="card-body">
        <h5 class="card-title">Manel Castellví Cerezuela</h5>
        <p class="card-text">I'm Manel, a tech enthusiast driven by an unwavering commitment to excellence. With a keen eye for effective solutions, I'm on a perpetual quest for improvement. My dedication to the programming realm is fueled by a desire to contribute in innovative and impactful ways. Let's embark on this journey of innovation together!</p>
        <a href="https://www.linkedin.com/in/manelcc/" class="btn btn-primary" target="_blank">LinkedIn</a>
        </div>
    </div>

    <div class="card mb-4 text-center">
        <img src="assets/img/dani.png" class="card-img-top rounded-circle mx-auto" alt="Dani's Photo" style="max-height: 190px; max-width: 190px;">
        <div class="card-body">
        <h5 class="card-title">Daniel Núñez Romero</h5>
        <p class="card-text">I'm Dani, a person who truly believes in living without limits. Always eager to learn and grow, I find joy in exploring new horizons and pushing my own boundaries. My insatiable curiosity fuels my passion for acquiring new skills and tackling challenges head-on. Join me on my journey of continuous learning and discovery!</p>        
        <a href="https://www.linkedin.com/in/dani-nunez-romero/" class="btn btn-primary" target="_blank">LinkedIn</a>
        </div>
    </div>
    </div>
</div>
