<div class="order-dasboard">


    @if (ordersDate.length == 0) {

            <h2 class="mt-3">Orders List <button class="buttonnav" style="margin-left: 30px; padding: 2px 5px;" mat-raised-button color="primary" (click)="openDatePicker()" class="mat-small">History</button>
            </h2>
            <mat-paginator
            [pageSize]="selectedPageSize"
            [pageIndex]="currentPage - 1"
            [length]="totalEntities"
            [pageSizeOptions]="[10, 20, 30]"
            aria-label="Select page"
            (page)="onChange($event)"
        ></mat-paginator>
            <mat-table [dataSource]="orders" class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef class="mat-column-id">ID</mat-header-cell>
                    <mat-cell *matCellDef="let order" class="mat-column-id">{{ order.orderId }}{{ order.id }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="maked">
                    <mat-header-cell *matHeaderCellDef class="mat-column-maked">Maked</mat-header-cell>
                    <mat-cell *matCellDef="let order" class="mat-column-maked">{{ order.maked }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="slot">
                    <mat-header-cell *matHeaderCellDef class="mat-column-slot">Slot</mat-header-cell>
                    <mat-cell *matCellDef="let order" class="mat-column-slot">{{ order.slot?.time }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="price">
                    <mat-header-cell *matHeaderCellDef class="mat-column-price">Price</mat-header-cell>
                    <mat-cell *matCellDef="let order" class="mat-column-price">{{ order.totalPrice | currency:'EUR' }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="datetime">
                    <mat-header-cell *matHeaderCellDef class="mat-column-date " (click)="openDatePicker()">Date and Time</mat-header-cell>
                    <mat-cell *matCellDef="let order" class="mat-column-date">{{ order.actualDate | date }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="dishes">
                    <mat-header-cell *matHeaderCellDef>Dishes</mat-header-cell>
                    <mat-cell *matCellDef="let order">
                        <select  class="form-select" matNativeControl>
                            @for (dish of order.dishes; track $index) {
                            <option value="{{ dish.name }}">{{ dish.name }}</option>}
                        </select>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
                    <mat-cell *matCellDef="let order">
                        <button class="button"  mat-icon-button color="warn" (click)="removeOrder(order.orderId)">
                            <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{'even-row': isEven(row), 'odd-row': !isEven(row)}"></mat-row>
            </mat-table>

                }


        @else {
            <div class="header-container">
                <h2 class="mt-3" style="text-align: center; margin: 0 auto;">
                    <button class="backbutton" style="margin-right: 30px; padding: 2px 5px;" mat-raised-button color="primary" (click)="returnToPreviousView()" class="mat-small">Back</button>
                    <span>Orders List</span>
                    <button class="buttonnav" style="margin-left: 30px; padding: 2px 5px;" mat-raised-button color="primary" (click)="openDatePicker()" class="mat-small">History</button>
                </h2>
            </div>
            
            
    
            <mat-paginator
                [pageSize]="selectedPageSize"
                [pageIndex]="currentPage - 1"
                [length]="totalEntities"
                [pageSizeOptions]="[1, 5, 10]"
                aria-label="Select page"
                (page)="onChange($event)">
            </mat-paginator>
            <mat-table [dataSource]="ordersDate" class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef class="mat-column-id">ID</mat-header-cell>
                    <mat-cell *matCellDef="let order" class="mat-column-id">{{ order.orderId }}{{ order.id }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="maked">
                    <mat-header-cell *matHeaderCellDef class="mat-column-maked">Maked</mat-header-cell>
                    <mat-cell *matCellDef="let order" class="mat-column-maked">{{ order.maked }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="slot">
                    <mat-header-cell *matHeaderCellDef class="mat-column-slot">Slot</mat-header-cell>
                    <mat-cell *matCellDef="let order" class="mat-column-slot">{{ order.slot?.time }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="price">
                    <mat-header-cell *matHeaderCellDef class="mat-column-price">Price</mat-header-cell>
                    <mat-cell *matCellDef="let order" class="mat-column-price">{{ order.totalPrice | currency:'EUR' }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="datetime">
                    <mat-header-cell *matHeaderCellDef class="mat-column-date" (click)="openDatePicker()">Date and Time</mat-header-cell>
                    <mat-cell *matCellDef="let order" class="mat-column-date">{{ order.actualDate | date }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="dishes">
                    <mat-header-cell *matHeaderCellDef>Dishes</mat-header-cell>
                    <mat-cell *matCellDef="let order">
                        
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
                    <mat-cell *matCellDef="let order">
                        <button class="button"  mat-icon-button color="warn" (click)="removeOrder(order.orderId)">
                            <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumnsDate"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{'even-row': isEven(row), 'odd-row': !isEven(row)}"></mat-row>
            </mat-table>
}
</div>
