<div class="body">

  <div class="container">

    <div class="card shadow col-md-3 m-auto  p-3">

      <div class="col-12 mx-auto mb-3">
        <app-logo></app-logo>
      </div>

      <form [formGroup]="registerForm" (submit)="add()" class='row g-3'>
        <div class="col-md-12">
          <label for="Imputname" class="form-label mb-0">Name</label>
          <input type="text" formControlName="username" class="form-control" id="name"
            autofocus required  autocomplete="on"/>

            @if (registerForm.get('username')?.invalid && (registerForm.get('username')?.dirty ||
            registerForm.get('username')?.touched)) {
            <div id="usernameHelp" class="form-text text-danger">Enter your username (min 10 characters)</div>
            }

            @if (registerForm.get('username')?.valid) {
            <div id="fullnameHelp" class="form-text text-success">✅ valid name</div>
            }

          <div class="col-md-12 mt-2">
            <label for="inputEmail" class="form-label mb-0">Email</label>
            <input type="email" class="form-control" formControlName="email" id="email"autocomplete="on" required />


            @if (registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty ||
            registerForm.get('email')?.touched)) {
            <div id="emailHelp" class="form-text text-danger">Enter a valid email.</div>
            }

            @if (registerForm.get('email')?.valid) {
              <div id="emailHelp" class="form-text text-success">✅ valid emali </div>
            }


          </div>
          <div class="col-md-12 mt-2">
            <label for="inputPassword" class="form-label mb-0">Password</label>
            <input type="password" formControlName="password" id="password" class="form-control"
              aria-describedby="passwordHelpBlock" minlength="8" maxlength="20"  autocomplete="on" required />
              <div id="passwordHelpBlock" class="form-text">
                It must be 8-20 characters and at least 1 cap.
              </div>

              @if (registerForm.get('password')?.valid) {
                <div class="form-text text-success">✅ valid password</div>
                }
          </div>
          <div class="col-md-12 mt-3">
            <label for="inputPassword" class="form-label mb-0">Confirm Password</label>
            <input type="password" formControlName="confirmPassword" id="confirmPassword" class="form-control"
              aria-describedby="confirmPasswordHelpBlock" minlength="8" maxlength="20"  autocomplete="on" required />

              @if (registerForm.get('password')?.valid) {
                <div class="form-text text-success">✅  valid password</div>
                }
          </div>

          <div class="col-12 mt-3">
            <div class="form-check">
              <input formControlName="checkbox" class="form-check-input" type="checkbox" id="invalidCheck" value=""
                required />
              <label class="form-check-label" for="invalidCheck">
                <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#">Accept terms and conditions</a>
              </label>
              <div class="invalid-feedback">
                You must agree before sending.
              </div>
            </div>
          </div>
          <div class="col-12">
            <button class="btn btn-secondary btn-sm mt-4"

              [disabled]="registerForm.invalid"
              class="btn btn-sm mt-2"
              [class.btn-success]="registerForm.valid"
              [class.btn-secondary]="!registerForm.valid"
              type="submit"
              type="submit">Send</button>
          </div>
        </div>
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Politica de Privacidad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>
                  <strong>Política de Privacidad de MyFood por ThreeElements</strong><br>
                  <em>Fecha de vigencia: 28/03/30</em><br><br>
              
                  <strong>Información recopilada:</strong><br>
                  Al utilizar la aplicación MyFood, recopilamos datos como nombre, dirección de correo electrónico y preferencias del usuario.<br><br>
              
                  <strong>Uso de la información:</strong><br>
                  La información se utiliza para personalizar su experiencia y mejorar nuestros servicios. No compartimos sus datos con terceros.<br><br>
              
                  <strong>Seguridad:</strong><br>
                  Implementamos medidas de seguridad para proteger su información, aunque ninguna transmisión por Internet es completamente segura.<br><br>
              
                  <strong>Cookies:</strong><br>
                  MyFood utiliza cookies para mejorar la experiencia del usuario. Puede ajustar la configuración de su navegador para bloquearlas.<br><br>
              
                  <strong>Cambios en la Política:</strong><br>
                  Nos reservamos el derecho de actualizar esta política. Cambios significativos se notificarán a través de la aplicación o por otros medios.<br><br>
              
                  <strong>Consentimiento:</strong><br>
                  Al utilizar MyFood, usted acepta nuestra política de privacidad. Si no está de acuerdo, le recomendamos no utilizar la aplicación.<br><br>
              
                  <strong>Contacto:</strong><br>
                  Para preguntas o inquietudes, contáctenos en 632585333.
              </p>
              

              </div>
              <div class="modal-footer">
                <button type="button" (click)="accept()" class="btn btn-primary btn-sm"  data-bs-dismiss="modal">Accept</button>
              </div>
            </div>
          </div>
        </div>

      </form>
</div>
