<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <!-- Logo a la izquierda -->
      <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">
         <app-logo-card></app-logo-card>
      </a>

       <!-- TODO : menu hamburguesa para pantallas pequeñas funcional -->

      <!-- Botón de hamburguesa para pantallas pequeñas -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Elementos de la derecha -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']" routerLinkActive="router-link-active">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register']" routerLinkActive="router-link-active">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']" (click)="singOut()" routerLinkActive="router-link-active">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
